<div class="w-3/4">
  <h2 class="text-4xl mb-2 text-indigo-700">Recent Posts</h2>
  {{#if posts}}
    <ul class="flex flex-col bg-white rounded overflow-hidden">
      {{#each posts as |post| }}
        <li class="px-2 py-8 odd:bg-gray-200">
          <h2>
            <a href="/posts/{{post.id}}" class="text-indigo-700">{{post.title}}</a>
            by {{post.user.username}}
            <span class="italic">
              {{readable_time post.createdAt}}
            </span>
          </h2>
        </li>
      {{/each}}
    </ul>
    {{else}}
      <p>We haven't published any posts yet.</p>
    {{/if}}
</div>